language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - nightly

sudo: false

matrix:
  allow_failures:
    - php: nightly
  fast_finish: true

env:
  - AMP_DEBUG=true

before_install:
  - phpenv config-rm xdebug.ini || echo "No xdebug config."

install:
  - composer update -n --prefer-dist
  # pthreads is now only supported on PHP 7.2+
  - if [ "$TRAVIS_PHP_VERSION" != "7.0" ] && [ "$TRAVIS_PHP_VERSION" != "7.1" ]; then
      travis/install-pthreads.sh;
    fi
  # parallel is only supported on PHP 7.1+
  - if [ "$TRAVIS_PHP_VERSION" != "7.0" ]; then
      travis/install-parallel.sh;
    fi
  - wget https://github.com/php-coveralls/php-coveralls/releases/download/v1.0.2/coveralls.phar
  - chmod +x coveralls.phar

script:
    # phpdbg prints out of memory with pthreads enabled
  - if [ "$TRAVIS_PHP_VERSION" = "7.0" ] || [ "$TRAVIS_PHP_VERSION" = "7.1" ]; then
      phpdbg -qrr vendor/bin/phpunit --coverage-text --coverage-clover build/logs/clover.xml;
    else
      vendor/bin/phpunit;
    fi
  - PHP_CS_FIXER_IGNORE_ENV=1 php vendor/bin/php-cs-fixer --diff --dry-run -v fix

after_script:
  - ./coveralls.phar -v

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.php-cs-fixer
    - $HOME/.local
